<%= form_for :message, url: reply_conversation_path(conversation),:html => {:class=>'form-horizontal'} do |f| %>
<fieldset>
    <legend>Reply</legend>
   
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Subject</label>
      <div class="col-lg-10">
        <%= f.text_field :subject,:class=>"form-control"%>       
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Body</label>
      <div class="col-lg-10">
        <%= f.text_area :body,:class=>"form-control"%>       
      </div>
    </div>   
     
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>        
        <%= f.submit "Send" ,:class=>"btn btn-primary"%>
      </div>
    </div>
  </fieldset>
<% end %>
