<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
<%= devise_error_messages! %>
<fieldset>
    <legend>Register</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">        
        <%= f.email_field :email, autofocus: true,:class=>"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <%= f.password_field :password, autocomplete: "off",:class=>"form-control" %>       
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password Confirmation</label>
      <div class="col-lg-10">
        <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control" %>       
      </div>
    </div>      
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>        
        <%= f.submit "Register" ,:class=>"btn btn-primary"%>
      </div>
    </div>
  </fieldset>
<% end %>
<%= render "devise/shared/links" %>



