Hi <%= @user.name%>,  <br>

<p> Please join the LetsGomo by clicking <a href="<%= 'https://letsgomo-demo.herokuapp.com/users/sign_in'%>" > here </a> </p>

<p>With credentials provided :</p>

<p>Email : <%= @user.email%> </p>
<p>Password : <%= @password%> </p>

<p>Thank you, </p>

<p>Letsgomo</p>