<%= form_for(@user,:url => users_admin_index_path,:html => {:class => 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <fieldset>
    <legend>Create User</legend>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <%= f.text_field :name,:class=>"form-control" %>       
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">        
        <%= f.email_field :email, autofocus: true,:class=>"form-control" %>
      </div>
    </div>    

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Designation</label>
      <div class="col-lg-10">
        <%= f.text_field :designation,:class=>"form-control" %>       
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Picture Url</label>
      <div class="col-lg-10">
        <%= f.text_field :picture,:class=>"form-control" %>       
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>        
        <%= f.submit "Submit" ,:class=>"btn btn-primary"%>
      </div>
    </div>
  </fieldset>
<%end%>