<tr>
	<td><%= user.name %></td>
	<td><%= user.email %></td>
	<td><%= user.designation unless user.designation.nil?%></td>    
	<td><%= image_tag user.picture ,size: "100x100" unless user.picture.nil?%></td>    
	<td><%= link_to 'Show', show_path(:id=>user.id) %> |
	<%= link_to 'Delete', destroy_path(:id=>user.id), method: :delete, data: { confirm: 'Are you sure?' } if current_user.is_admin? %></td>    
</tr>