<%= form_tag send_email_path, multipart: true , :class => 'form-horizontal' do %>

<fieldset>
    <legend>Compose Mail</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">        
        <%#= text_field_tag :email, nil,:class=>"form-control" %>
        <%= select_tag :email, options_from_collection_for_select(User.all, "email", "email"), prompt: "Select Email" %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Subject</label>
      <div class="col-lg-10">
        <%= text_field_tag :subject,nil,:class=>"form-control"%>       
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Body</label>
      <div class="col-lg-10">
        <%= text_area_tag :body,nil,:class=>"form-control"%>       
      </div>
    </div>   
     
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>        
        <%= submit_tag "Send" ,:class=>"btn btn-primary"%>
      </div>
    </div>
  </fieldset>
<% end %>



