<div class="form-inline form-group-dis">
  <div class="bs-example pull-left" data-example-id="btn-tags">
    <% if current_user.is_admin?%>
      <%= link_to('New User', new_users_admin_path,:class => 'btn btn-large btn-primary')  %>
      <%= form_tag import_data_path, :class=>"xyz" do %>
          <%= submit_tag "Import Data",:class=>"btn btn-primary" %>
      <% end %>
    <%end%>
    <%= link_to('Compose Email', compose_message_path,:class => 'btn btn-large btn-primary')  %>    
  </div>

  <div class="form-group pull-right">          
    <%= text_field_tag :q,nil,:placeholder=>"Search",:class=>"form-control"%>
    <%= submit_tag "Submit",:class=>"btn btn-default",:id=>"search-submit"%>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead>
    <tr>      
      <th>Name</th>
      <th>Email</th>
      <th>Designation</th>
      <th>Picture</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="partial_content">
    <%= render(partial: 'user', collection: @users) %>
  </tbody>
</table>