
<div class="panel-body">
	<dl>
		<dt>Name</dt>
		<dd><%= @user.name %></dd>
		<dt>Email</dt>
		<dd><%= @user.email %></dd>
		<dt>Designation</dt>
		<dd><%= @user.designation unless @user.designation.nil? %></dd>
		<dt>Picture</dt>
		<dd><%= image_tag @user.picture unless @user.picture.nil?%></dd>
  		<dt><%= @user.picture_name unless @user.picture_name.nil?%></dt>
	</dl>
</div>
<%= link_to 'Back', root_path %>