/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require_tree .
 */
 .notice {
  padding: 10px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  clear:both;
  text-align:center;
}

.alert {
  padding: 10px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  clear:both;
  text-align:center;
}

.xyz{display:inline-block; vertical-align:middle; margin:0 3px 0 0;}
.form-group-dis{display:block; width:100%; margin:0 0 2em 0; float:left;}